/* Carousel Styles */
.favorites-carousel {
  bottom: 1%;
  left: 35%;
  width: 30%;
  height: 125px;
  position: fixed;
  border: 2px solid black;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  align-content: center;
  overflow: hidden;
  background-color: white;
  z-index: 1;
}

/* Content that moves horizontally */
.carousel-content {
  display: flex;
  flex-direction: row;
  animation: bannermove 10s linear infinite;
  transform: translateX(100%);
  animation-delay: 5s; 

}

/* Each item inside the carousel */
.favorite-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.favorite-list li {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  align-content: center;
  height: 100px;
  width: 200px;
  position: relative;
  z-index: 999;

  border: 2px solid black;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
}

/* Animation for infinite scrolling */
@keyframes bannermove {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-2200px);}
}

.carousel-content:hover  {
  animation-play-state: paused; 
}


