.character-trivia-container {
    background-color: #FFEB3B;       
    border: 3px solid #000000;       
    padding: 15px;                   
    border-radius: 15px;
    margin: 20px;
    max-width: 300px;                
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* animation: float 2s ease-in-out infinite; */
    overflow-y: hidden;              
}

.character-trivia-container img {
    width: 200px;                    
    height: 250px;                   
    object-fit: cover;               
    border-radius: 10px;             
    margin-bottom: 10px;             
}


.character-trivia-container h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #D32F2F;                  
    text-shadow: 2px 2px #000000;    
    margin-bottom: 10px;
}

.trivia-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #D32F2F;                  
    text-shadow: 1px 1px #000000;    
    margin-bottom: 15px;
    min-height: 60px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.trivia-button {
    background-color: #D32F2F;       
    border: 2px solid #000000;       
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.2s, background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;                  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.trivia-button:hover {
    background-color: #B71C1C;       
    transform: scale(1.05);
}

.trivia-button:active {
    transform: scale(0.95);
}

.trivia-button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
