

    /* body {
      height: 100vh;
      width: 100vw;
    background-image: url('images/store.webp');
    background-position: center;
    position: relative;
    overflow: hidden;
    } */

    .full-screen-container {
      position: fixed; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('images/store.webp');
      background-position: center;
      overflow: hidden;
    }
    
    .umbrella{
      margin-top: 350px;
      margin-left: -150px;
    }
    
    .logo {
        text-align: center;
        width: 550px;
        height: 100px;
        padding: 5px;
        margin: auto;   
        left: 0;
        right: 0;
        margin-top: 60px;
        user-select: none;
        background-color: rgb(251, 255, 3, 0.3);
        border: 12px ridge rgb(224, 26, 26);
        border-radius: 2px;
        position: absolute;
    
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem rgb(238, 59, 59),
        0 0 2rem rgb(199, 76, 76),
        0 0 0.8rem rgb(216, 69, 69),
        0 0 2.8rem rgb(180, 32, 32),
        inset 0 0 1.3rem rgb(212, 47, 47); 
      }
    
      .logo b{
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3.7em;
        color: rgb(253, 253, 253);
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(182, 0, 0), 0 0 0.5em rgb(182, 0, 0), 0 0 0.1em rgb(182, 0, 0), 0 10px 3px #000;
      }
    
      .logo .bobs{
        margin-left: 8px;
      }
    
      .logo .burgers{
        letter-spacing: -3px;
        margin-left: 17px;
      }
      .logo .bobs span{
        animation: blink linear infinite 2s;
      }
      .logo .burgers span{
        animation: blink linear infinite 3s;
      }
      @keyframes blink {
        78% {
          color: inherit;
          text-shadow: inherit;
        }
        79%{
           color: #333;
        }
        80% {
          
          text-shadow: none;
        }
        81% {
          color: inherit;
          text-shadow: inherit;
        }
        82% {
          color: #333;
          text-shadow: none;
        }
        83% {
          color: inherit;
          text-shadow: inherit;
        }
        92% {
          color: #333;
          text-shadow: none;
        }
        92.5% {
          color: inherit;
          text-shadow: inherit;
        }
      }
    
    
    
      hr.thunder {
        border: unset;
        position: absolute;
        width: 100vw;
        height: 100vh;
        animation-name: thunder;
        animation-duration: var(--thunder-duration);
        animation-timing-function: linear;
        animation-delay: var(--thunder-delay);
        animation-iteration-count: infinite;
      }
      
      hr:not(.thunder) {
        width: 50px;
        border-color: transparent;
        border-right-color: rgba(255, 255, 255, 0.7);
        border-right-width: 50px;
        position: absolute;
        bottom: 100%;
        transform-origin: 100% 50%;
        animation-name: rain;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      @keyframes rain {
        from {
          transform: rotate(105deg) translateX(0);
        }
        to {
          transform: rotate(105deg) translateX(calc(100vh + 20px));
        }
      }
      
      @keyframes thunder {
        0% {
          background-color: transparent;
        }
        1% {
          background-color: white;
        }
        2% {
          background-color: rgba(255, 255, 255, 0.8);
        }
        8% {
          background-color: transparent;
        }
      }