.head-shots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:50px;

  }

  .character-card {
    flex: 1 1 calc(20% - 10px);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-size: 22px;
    align-content: center;
  }

  .character-card img {
    width: 200px;
    height: 200px;
  }

  .baseball-card{
    display: inline-flex;
    text-align: center;
    border: 1px, solid,black;
    padding:20px;
    margin:50px;
  }
  .search-bar {
    background-image: url("../public/images/louise.jpg");
    background-size: 50px; 
    background-position: left; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 52px;

    border: 2px solid black;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;

    font-weight: 400;
    position: fixed;
    z-index: 5;
    margin-right: 10px;
    margin-bottom:20px;
    text-indent: 50px;
    outline: none;
  }

  .search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    z-index: 5;
  }



  /* .details img{
    height: 250px;
    border:1px black, solid;
    padding: 5px;
  }
  .details{
    align-content: center;
    text-align: center;
    margin: 10px;
  }
  .detail-body{
    text-align: left;
    margin-top: 30px;
  } */