
.images {
    display: flex;
    justify-content: space-around; /* Ensures spacing between items */
    align-items: flex-start; /* Aligns text and images at the top */
    gap: 20px; /* Adds space between elements */
    margin-top: 20px; /* Adds some spacing from the previous section */
}
.episode-container {
    position: absolute;
    /* left: 50%;  */
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: large;
    overflow: hidden;
    /* color: antiquewhite;  */
}

.episode-text {
    background: #40393975;
    padding: 10px;
    border-radius: 50px;
    width:fit-content;
    box-shadow: 0px 4px 20px #0000009e;
    /* display:contents; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}

.episode-section-pest,
.episode-section-store {
    max-width: 200px; /* Controls width to keep things balanced */
    color: #FE041B;
    text-decoration: underline;
    font-size: larger;
    padding-top: 0%;
    font-family: 'Bob\'s Burgers';

}

.episode-section-pest img {
    width: 200px; 
    height: auto;
    display: block; 
    margin: 10px auto 0; /* Center image below text */
}
.episode-section-pest img:hover {
    transform: scale(1.2);
    animation: drivingOff 3s backwards;
    animation-timing-function: linear;



}

.episode-section-store img {
    width: 130px; /* Makes images smaller */
    height: auto;
    display: block; 
    margin: 10px auto 0; /* Centers image below text */
}

@keyframes drivingOff {
    0% {
        transform:translateX(0);
    }
    100% {
        transform: translateX(-90%);
        opacity: 0;
    }
    
}

.episode-section-store img:hover {
    transform: scale(1.2);
}